.boxmodel{
	border:5px solid red;
	display:inline-block;
	padding:5px 20px 5px 20px;
	margin:0px 20px;
	width:33px;
	height:33px;
}
.container{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
h2{
	font-family: fantasy;
	font-size: 3em;
	border-bottom: 2px solid red;

}
img{
	width:450px;
	height:300px;
	margin: 10px;
	transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}
.btn-success{
	background-color: orange;
}
.btn-success:hover{
	background-color: black;
}
.col{
	background-color: grey;
	border: 2px solid black;
}
